h1,h2,h3
{
    color: white;
    font-family:"Montserrat" ;
}
body
{
    background-color: black;
}
.kutu1
{
    font-family: "Montserrat";
    color: white;
}
p
{
    color: white;
    font-family:"Montserrat" ;
}
